.App {
  background-color: rgb(35, 47, 56);
  text-align: center;
  font-size: calc(20px + 2vmin);
}

h2 {
  padding:0 80px
}
h3 {
  font-size: calc(10px + 2vmin);
}

.mainOC {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .panelOC {
    padding: 50px;
    background-color: rgb(255, 255, 255, 0.8);
    margin: 20px;
    .submit-button {
      height: 5vw;
      font-size: calc(10px + 2vmin);
      padding: 2vh;
      margin-top: 40px;
      min-height:50px
    }
    .chipOC {
      padding: 0px 40px;
    }
    .resultsOC {
      margin:40px 0;
    }
  }
}
